.blog-container {
  color: rgb(45, 191, 196);
  background-image: url("https://www.freevector.com/uploads/vector/preview/11016/fiber.jpg");
  background-attachment: fixed;
  background-color: rgb(0, 0, 0);
}
