footer {
  background-image: url("../../images/footer.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

footer p {
  margin-bottom: 0.25rem;
}
.donate a {
  color: white;
  text-decoration: none;
}
.donate {
  transition: all 0.3s;
}
.donate:hover {
  background-color: rgba(181, 212, 155, 0.349);
  transition: all 0.3s;
}
