.previewTitle {
  position: absolute;
  background-color: antiquewhite;
  padding: 0 10px;
  border-radius: 5px;
  top: 90%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rdw-editor-wrapper {
  border: 1px solid #c5c5c5;
  border-radius: 5px;
}
.editorClassName {
  background: white !important;
}
.rdw-editor-toolbar {
  border-bottom: 1px solid #c5c5c5 !important;
}

/* modal looading */
/* The Modal (background) */
.loadingModal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-contents {
  background-color: #fefefe;
  margin: auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
}
